/* You can add global styles to this file, and also import other style files */

:root {
    --background-main: #345173;
    --color-main: #fff;
    --background-invert: var(--color-main);
    --color-invert: #001021;
    --font-main: Roboto, "Helvetica Neue", sans-serif;
    --input-border-radius: .25rem;

    --item-padding: .25rem;
    --item-gap: .25rem;
    --section-padding: 2rem;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: var(--font-main); 
    background-color: var(--background-main);
}

input,
textarea,
select {
    font-family: var(--font-main);
    padding: var(--item-padding);

}

input,
textarea,
select,
button {
    color: var(--color-invert);
    background: var(--background-invert);
    border: 1px solid var(--color-invert);
    border-radius: var(--input-border-radius);
}

button {
    background: var(--color-invert);
    color: var(--color-main);
    cursor: pointer;
}
